# SQL Server
SA_PASSWORD=YourStrong@Passw0rd

# Hugging Face
HF_TOKEN=your_hugging_face_token_here

# GoAlert Webhook
GOALERT_WEBHOOK_URL=http://goalert:8080/integrations/generic-webhook/REPLACE_ME

# N8N
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin
N8N_ENCRYPTION_KEY=random32charstringhere
